{% extends 'pages/base.html' %}
{% block title %} Image Storage - DI {% endblock %}

{% block content %}
<div class="container">
  <div class="card mx-auto" style="max-width: 500px;">
    <div class="card-header">Upload image</div>
    <div class="card-body">
      <form action="{% url 'image_save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label>Image:</label>
          <input type="file" name="profile_image" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
      {% if image_url %}
        <img src="{{ image_url }}" class="img-fluid mt-3" />
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
